:root{
    --blanco: #FDFFFC;
    --rosa: #F8C0C8;
    --rosaGradiente: linear-gradient(180deg, rgba(248,192,200,1) 0%, rgba(248,192,200,1) 50%, rgba(248,192,200,0.7959558823529411) 100%);
    --negro: #000000;
    --asideColor: #F7ACB8;
    --gris: #4d4d4d;
    --rojo: red;
    --paddingMobile: 36px 24px;
    --paddingTablet: 36px 40px;
    --gapSocialMobile: 24px;
    --gapSocialTablet: 40px;
    --maxWidth: 1208px;
}

html{
    font-size: 10px;
}

body{
    width: 100%;
    font-size: 1.6rem;
    font-family: "Noto Serif", serif;

    line-height: 1.2;
    font-weight: 400;

    background-color: var(--blanco);
}

.layout{
    width: 100%;
    min-height: 100vh;
    height: fit-content;
}

.layout__socialMedia,
.layout__colaboraciones,
.layout__about,
.layout__youtube,
.layout__contact{
    scroll-margin-top: 24px;
}

/* ---------------------- Aside y Nav ---------------------- */
.layout__asideNav{
    font-size: 16px;
    background-color: var(--asideColor);
    height: 100%;
    max-width: 280px;
    width: 60%;
    border-radius: 24px 0 0 24px;
    
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 11;

    opacity: 0;
    visibility: hidden;
    transform: translateX(280px);
    
    transition: all 300ms ease-in-out;
}

.aside__visible{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.asideNav__menu{
    margin-top: 78px;

    color: var(--blanco);

    display: flex;
    flex-direction: column;
    gap: 24px;

    padding: 24px;
    text-align: center;
}

.layout__nav{
    display: flex;
    justify-content: center;

    position: fixed;
    width: 100%;
    height: fit-content;

    z-index: 10;

    padding: 16px 0;

    background: var(--rosaGradiente);
}

.layout__nav{
    justify-content: space-between;
    padding: 16px 24px;
}

.nav__name{
    line-height: 24px;
    font-size: 16px;
    font-weight: bold;
    color: var(--blanco);
}

.nav__crossLinea--1,
.nav__crossLinea--2,
.nav__crossLinea--3{
    transition: all 300ms ease-in-out;
    transform-origin: left;
}

.clicked1{
    transform: rotate(42deg);
}

.clicked2{
    opacity: 0;
}

.clicked3{
    transform: rotate(-42deg);
}

.nav__crossLinea{
    background-color: var(--blanco);
    border-radius: 3px;
    width: 30px;
    height: 4px;
}

.nav__link,
.asideNav__link{
    position: relative;
}

.nav__link::before,
.asideNav__link::before{
    content: "";

    background-color: var(--blanco);

    width: 0;
    height: 2px;
    opacity: 0;

    position: absolute;
    left: 0;
    bottom: -3px;

    transition: all 300ms linear;
}

.nav__link:hover::before,
.asideNav__link:hover::before{
    width: 100%;
    opacity: 1;
}

.nav__menu{
    display: none;
}

.nav__crossContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 16px 24px;
    height: 56px;

    position: fixed;
    right: 0;
    z-index: 20;
}

/* Banner */

.layout__banner{
    width: 100%;
    height: 69vh;
    position: relative;
    overflow: hidden;

    background: url(/img/valBanner.jpeg);
    background-position: 36% 0;
    background-size: cover;

    display: flex;
    justify-content: center;
    padding-bottom: 36px;
}

.banner__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.banner__textContainer{
    color: var(--blanco);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    min-width: 277.25px;
    width: 100%;
    padding: var(--paddingMobile);
}

.banner__name{
    font-weight: 200;
    font-size: 3.6rem;
}

.banner__description--entrenadora{
    width: 31ch;
    overflow: hidden;
    white-space: nowrap;
    direction: rtl; /*Hacemos que el texto comience de right to left*/
    animation: typing 5s;
}

@keyframes typing {
    0%{
        width: 1ch;
    }
    100%{
        width: 35ch;
    }
}

.banner__description{
    font-weight: 300;
    font-size: 1.6rem;
}

/* Redes Sociales */

.layout__socialMedia{
    width: 100%;
    height: fit-content;
    padding: var(--paddingMobile);

    display: flex;
    flex-direction: column;
    gap: 22px;
    justify-content: center;
    align-items: center;
}

.socialMedia__socialList,
.contact__socialList,
.footer__socialList{
    display: flex;
    flex-direction: row;
    gap: var(--gapSocialMobile);
}

.socialList__icon{
    color: var(--rosa);
    font-size: 4.8rem;
}

.socialMedia__followers{
    font-size: 2.4rem;
}

.socialMedia__frase{
    text-align: center;
    max-width: 456px;
    font-size: 1.6rem;
}

.socialMedia__picContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 24px;
}

.picContainer__row1,
.picContainer__row2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 24px;

    flex: 1;

    min-width: 240px;
}

.picContainer__pic{
    flex: 1;
    min-width: 108px;
    max-width: 161.75px;
}

/* COLABORACIONES SLIDER */

.layout__colaboraciones {
    /* background-color: green; */
    padding: 0 24px 20px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    overflow: hidden; /* Importante para ocultar las imágenes fuera del viewport */
}

.colaboraciones__title {
    text-align: center;
}

/* Contenedor del slider */
.colaboraciones__slider {
    /* background-color: aqua; */
    width: 200px; /* Ancho fijo para mobile */
    height: 130px; /* Alto fijo para mobile */
    position: relative;
    overflow: hidden;
}

/* Track que contiene las imágenes */
.slider__track {
    display: flex;
    position: absolute;
    left: 0;
    top: -35px;
    gap: 40px;
    /* No definimos width aquí, lo calculamos en JS */
}

.slider__img {
    width: 200px;
    height: auto;
    flex-shrink: 0;
}

/* SECCION ABOUT */
.layout__about{
    background-color: var(--rosa);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.about__container{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.about__left{
    display: flex;
    flex-direction: column;
    gap: 18px;
    flex: 1;
    padding: var(--paddingMobile);

    height: fit-content;
}

.about__right{
    flex: 1 0 0;
    /* align-self: stretch; */
    background: url(/img/val5.jpeg);
    background-size: cover;
    background-position: 0 34%; 
    background-repeat: no-repeat;
    display: none;
}

.about__title{
    font-size: 2.4rem;
    color: var(--blanco);
}

.about__description{
    color: var(--blanco);
    max-width: 522px;
    font-weight: 400;
}

.about__btn{
    display: flex;
    justify-content: center;

    box-shadow: 0 9px 19px 0px rgba(0, 0, 0, 0.15);
    color: var(--negro);
    background-color: var(--blanco);
    border: 1px solid var(--blanco);
    padding: 6px 48px;
    max-width: 370px;
    border-radius: 18px;
    transition: all 300ms ease-in-out;
}

.about__btn:hover{
    background-color: var(--rosa);
    color: var(--blanco);
}

/* SECCION YOUTUBE */

.layout__youtube{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    padding: var(--paddingMobile);
}

.youtube__title{
    font-size: 2.4rem;
}

.youtube__description{
    font-size: 1.6rem;
    font-weight: 400;
}

.youtube__video{
    width: 100%;
    aspect-ratio: 16 / 9;
}

/* Frase */
.layout__frase{
    background-color: var(--rosa);
    padding: var(--paddingMobile);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.frase__frase{
    color: var(--blanco);
    font-size: 2.4rem;
    font-weight: bold;
    width: fit-content;
    text-align: center;
}

/* Contacto */
.layout__contact{
    padding: var(--paddingMobile);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.contact__mensajeEnvio{
    display: none;
}

.mensajeEnvio__mensaje{
    display: none;
    font-size: 20px;
    text-align: center;
}

.mensaje__mostrar{
    display: block;
}

/* Footer */

.layout__footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: var(--rosa);
    padding: var(--paddingMobile);
    width: 100%;
}

.footer__title{
    color: var(--blanco);
}

.socialList__iconFooter{
    color: var(--blanco);
    font-size: 2.4rem;
}

/* ---------------------- Efectos ---------------------- */


section[data-effect="sliceBottom"]{
    transform: translateY(100px);
    opacity: 0;
    transition: all 300ms ease-in-out;
}

.visible{
    transform: translateY(0px) !important;
    opacity: 1 !important;
}



/* MEDIAQUERIES */
@media (min-width: 768px) {

    .nav__name{
        display: none;
    }

    .nav__menu{
        display: flex;
        font-size: 16px;
        gap: 74px;
        color: var(--blanco);
    }

    .nav__crossContainer{
        display: none;
    }

    .layout__nav{
        justify-content: space-around;
    }

    .layout__banner{
        padding: var(--paddingTablet);
    }
    
    .banner__textContainer{
        width: 100%;
    }

    .layout__socialMedia,
    .layout__colaboraciones,
    .about__left,
    .layout__youtube{
        padding: var(--paddingTablet);
    }

    .about__description{
        max-width: none;
    }

    .about__left{
        padding-right: 0;
    }

    .about__right{
        display: block;
    }

    .layout__colaboraciones{
        padding-top: 0;
    }

    .picContainer__pic{
        min-width: none;
        max-width: none;
    }

    .socialMedia__socialList,
    .contact__socialList,
    .footer__socialList{
        gap: var(--gapSocialTablet);
    }

    .colaboraciones__slider {
        width: 680px; /* (200px * 3 imágenes) + (40px * 2 gaps) */
        height: 130px;
    }

    .socialMedia__followers,
    .colaboraciones__title,
    .about__title,
    .youtube__title,
    .frase__frase,
    .contact__title{
        font-size: 32px;
    }

    .banner__description,
    .socialMedia__frase,
    .about__description,
    .about__btn,
    .youtube__description,
    .contact__email{
        font-size: 20px;
    }

    .socialMedia__frase{
        max-width: 496px;
    }

    .youtube__video{
        max-width: 719px;
    }

    .contact__email{
        width: 288px;
    }
}

@media (min-width: 1025px) {
    .layout__banner{
        height: 100vh;
        background-position: 57% 70%;
    }

    .slider__img{
        filter: opacity(50%);
        transition: all 200ms ease-in-out;
    }

    .slider__img:hover{
        filter: opacity(100%);
    }

    .youtube__video{
        max-width: 893px;
    }

    .colaboraciones__slider {
        width: 920px; /* (200px * 4 imágenes) + (40px * 3 gaps) */
        height: 130px;
    }
}

@media (min-width: 1440px) {

    .layout{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .banner__name{
        font-size: 64px;
    }

    .banner__description{
        font-size: 24px;
    }

    .banner__textContainer,
    .layout__socialMedia,
    .layout__colaboraciones,
    .about__container,
    .about__left,
    .layout__youtube,
    .frase__frase,
    .layout__contact{
        width: 100%;
        max-width: var(--maxWidth);
        padding-left: 0;
        padding-right: 0;
    }
    
}